<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> bootstrap }}

</head>

<body>
        {{> dashboardnav }}

    <center>I am dashboard</center>

    <p>current cart item is {{currentCart}}</p>

    <form method="POST">
        <button type="submit" >add to cart</button>
    </form>
    

   
</body>

</html>