<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> bootstrap }}

</head>

<body>
        {{> mynav }}
            <center>
            <div class="card w-50">
                <input id="USER_EMAIL"  type="email" required>
                <input id="USER_PASSWORD"  type="password" required>
                <button id="BTN_LOGIN" type="submit">Login</button>

            </div>
            </center>
           
        

        <script src="js/login.js"></script>

    
</body>

</html>